<!-- node-content -->
<div class="display">
  <i class="fas fa-database"></i>
  <div v-if="datasetInfo" class="name">{{ datasetInfo.originalname }}</div>
  <div v-else>无数据集</div>
</div>
<!-- context-menu -->
<li @click="openDatasetModal"><i class="fas fa-sm fa-database"></i><span>上传数据集</span></li>
<li @click="openConnectDatabaseModal"><i class="fas fa-sm fa-database"></i><span>连接数据库</span></li>
<!-- option-panel -->
<div class="bold">数据集</div>
<div class="panel-name">{{ datasetInfo ? datasetInfo.originalname : 'none' }}</div>
<b-button variant="outline-secondary" id="btn-load-dataset"
  @click="openDatasetModal">上传数据集</b-button>
<b-button variant="outline-secondary" id="btn-load-dataset"
  @click="openConnectDatabaseModal">连接数据库</b-button>
<hr class="divider">

<dataset-modal ref="datasetModal" selectable @selectDataset="onSelectDataset"></dataset-modal>
<connect-database-modal ref="connectDatabaseModal" selectable @selectDataset="onSelectDataset"></connect-database-modal>
